*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
}

.keyboardContainer {
    width: 950px;
    background: #333;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
}

.row1, .row2, .row3, .row4, .row5, .row6 {
    display: flex;
    margin: auto;
}

.btn, .cbtn, .--btn, .---btn, .----btn, .-----btn, .Spacebtn {
    background: #333;
    box-shadow: 0 2px 5px red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-weight: 700;
    position: relative;
    transition: 0.05s;
}

.btn { width: 50px; height: 50px; }
.cbtn { width: 45px; height: 25px; }
.--btn { width: 65px; height: 50px; }
.---btn { width: 80px; height: 50px; }
.----btn { width: 105px; height: 50px; }
.-----btn { width: 135px; height: 50px; }
.Spacebtn { width: 250px; height: 50px; }

.two {
    display: block;
}